.game-board{ 
  display: grid;
  grid-template-columns: 120px 120px 120px 120px; 
  grid-template-rows: 120px 120px 120px 120px 20px;
  justify-content: center;
}
.box {
  background-color: #d9d9d9;
  border: 5px solid darkgray;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding: 35px 0;
  border-radius: 1px;
}
