body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: oldlace;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .buttons{
    text-align: center;
  }
  
